* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 15px;
}

.form-container-p {
  /* border-bottom: 1px solid #eee; */
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.form-input {
  border: none;
  border-radius: 10px 0 0 10px;
  font-size: 2rem;
  height: 50px;
  padding-left: 10px;
  min-width: 80%;
}

input[type="text"]:focus {
  border: none;
}

.form {
  display: flex;
}

.form button {
  align-items: center;
  background: var(--light-green);
  border-radius: 0 10px 10px 0;
  border: none;
  color: var(--color-5);
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  height: 50px;
  justify-content: center;
  width: 50px;
}

.section-input {
  background-color: antiquewhite;
  color: black;
  margin-top: 20px;
  min-height: 25vh;
  text-align: center;
  width: 400px;
}

.section-input-p{

}
