.header {
  align-items: center;
  background-color: var(--header-color);
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 15px;
}

.icon-header {
  font-size: 2rem;
  cursor: pointer;
}
