:root {
  --body-color: #252323;
  --header-color: #3A4E48;
  --light-green: #89ce94;
  --medium-blue: #575C55;

  --color-1: #53FF45;
  --color-2: #F4FF52;
  --color-3: #252323;
  --color-4: #3A4E48;
  --color-5: #f5efed;
}

.header {
  align-items: center;
  background-color: var(--header-color);
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 15px;
}

.icon-header {
  font-size: 2rem;
  cursor: pointer;
}
